@page "/"
@model MainPageModel

@{
    ViewData["Title"] = "Quiz Topics";
}

<h2>Quiz Topics</h2>

<ul>
    @foreach (var topic in Model.Topics)
    {
        <li>
            <a asp-page="/Quiz" asp-route-theme="@topic.Theme">@topic.Theme</a>
        </li>
    }
</ul>

